<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExample"
        tools:targetApi="31">

        <activity android:name=".AddWorryActivity"/>
        <activity android:name=".WorryNotes"/>
        <activity android:name=".EditProfile"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".CounselorHomeActivity" />
        <activity android:name=".CounselorProfileActivity" />
        <activity android:name=".CounselorEditProfileActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ChatListActivity" />
        <activity android:name=".CounsellorSearchActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".AdminEditUserActivity" />
        <activity android:name=".AppointmentRequestsActivity" />
        <activity android:name=".AssignTaskActivity" />
        <activity android:name=".TasksOverview" />
        <activity android:name=".TaskDetailsActivity"/>
        <activity android:name=".CheckInActivity" />
        <activity android:name=".CheckInSummaryActivity" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <service android:name=".WebSocketService" />

        <receiver android:name=".CheckInReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    </application>

</manifest>